@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,500&display=swap');

html {  
    scroll-behavior: smooth;
}

.scroll_up {
    height: 48px; 
    width: 48px; 
    border-radius: 30px;
    background-color:rgb(76, 76, 76);
    position: fixed;
    top: 85%;
    left:90%;
}

#scroll_up {
    position: relative;
    top: 7px;
    left: 8px;
}
body {
    font-family: 'Montserrat', sans-serif;

    margin: 0px;
    background-color: rgb(46, 46, 46)

}

.body {    padding: 0px 7% 0px;}

h1 {
    color: rgb(207 122 27);
}

h3 {
    color: rgb(185 150 0);
}
h2 {color:rgb(200, 200, 200);}
p {
    color: rgb(200, 200, 200);
}


.top-menu {
    padding: 10px 15px 10px;
    font-size: larger;
    text-decoration: none;
    color: black;
    position: relative;
    top: 10px;
}

.top-menu:hover  {
    color:rgb(207 122 27);
}

.menu {
    width: 86%;
    height: 45px;
    background-color: rgb(83 81 79);
    margin-bottom: 3px;
    position: fixed;
    text-align: center;
    top: 0px;

}

.list {
    color: rgb(200, 200, 200);
}


.kostil {
    height: 45px;
}


.bblock {
    margin-top: 1%;
}



#text {
    width: 38%;
    height: 410px;
    margin-top: 0px;
    margin-right: 20px;
}

#image-first {
    border-radius: 10px;
    width: 760px;
}

.circle_rad {
    border-radius: 10px;
}

footer {
    margin: 0 auto;
    height: 500px;
    background-color:rgb(26, 26, 26);
}

.foot {
    
    text-align: center;
    position: relative;
    top: 150px;
}